<mat-toolbar class="toolbar">
  <!-- <button mat-icon-button class="example-icon" aria-label="icon-button with menu icon">
    <mat-icon class="icone-card">menu</mat-icon>
  </button> -->
  <app-menu></app-menu>

  <!-- <app-busca></app-busca> -->

  <span class="example-spacer"></span>
  <img [src]="logo" alt="logo" class="logo">
  <span class="example-spacer"></span>
  <button mat-icon-button class="material-symbols-outlined" aria-label="icon-button with account icon">
    <mat-icon class="icone-card">account_circle</mat-icon>
  </button>
  <button mat-icon-button class="material-symbols-outlined" aria-label="icon-button with heart icon">
    <mat-icon class="icone-card">shopping_basket</mat-icon>
  </button>
</mat-toolbar>

<span >

  </span>
