.toolbar{
  background-color: #b5bac9;
  height: 90px;
}
.logo{
  margin-left: 20px;
  height: 90px;
  width: auto;
}
.example-spacer {
  flex: auto;
}

.icone-card {
  width: auto;
  height: auto;
  font-size: 35px;
  color: #fff;
}
